.main-salon-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
}
.salon-cards-wrap{
    width: 26%;

}
.main-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
   
}
.main-card-header h3{
    font-size: 28px;
    margin: 0;
    text-align: center;
    padding: 18px;
    font-family: "Roboto", sans-serif;
}
.salon-card{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.salon-card-heading{
    position: relative;
    bottom: 43px;
    left: 12px;
    font-size: 16px;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
}