body {
  padding: 0;
  margin: 0;
  font-family: var(
    --font-family-sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.get-started-btn {
  padding: 12px 16px;
  cursor: pointer;
  color: #fff;
  background-color: #3b3b3be6;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
  margin-left: 15px;
  outline: none;
}
/* Header css starts here */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80px;
  top: 0px;
  width: 100%;
  z-index: 8;
}
ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list
  li
  a {
  text-decoration: none;
  color: #000;
}

.appointomize-icon {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 32px;
  cursor: pointer;
  height: 32px;
}
.appointomize-icon span {
  color: #fff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.menubar {
  display: none;
}

.wrap-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}
.wrap-header a {
  text-decoration: none;
}
.home-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home-items li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  list-style: none;
  font-weight: bolder;
  cursor: pointer;
}
.home-items li a{
  color:#fff;
  text-decoration: none;
  transition: color 0.3s;
  }
.home-items li a:active{
color:red;
}
/* .home-items li a:visited{
  color:blue;
  } */
  .home-items li.active {
    color:#000;
   
  }
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255);
  position: relative;
  text-decoration: none;
  font-size: 18px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #cdd9db;
  border-right: 3px solid #cdd9db;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #cdd9db;
  border-left: 3px solid #cdd9db;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #42cadf;
}